<h1>Health4All</h1>

<p>Hi <%= @user.name %>,</p>

<p>
You have just placed a bid on an artwork piece!
<br/>
<br/>
Name: <%= @artwork.name %><br/>
Bid amount: <%= '$%.2f' % @bid.amount %>
</p>


Thank you for your support.