
<body style="background-image:url('/background.jpg')">
<div class="center jumbotron" style="background:transparent !important;" >
  <h1 style="font-family: courier;">Welcome to Health For All's Auction Site</h1>
   <br><br>  <br><br>  <br><br>  <br><br>  <br>
   <%= link_to "Log In", login_path, class: "btn btn-lg btn-warning" %>
   <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-warning" %>
</div>


</body>