<html>

	<title>Health for All Auction</title>

<!-- this is just to see if i can get something running, will need to be moved to real file -->

<style>

	#header {
		background-color: white;
		height: 85px;
		width: 100%;
		border-radius: 5px;
	}

	#footer {
		background-color: white;
		height: 85px;
		width: 100%;
		border-radius: 5px;
		bottom: 10px;
		position: fixed;
		width:99%;
	}

	body {
		background-color: #C0C0C0;
	}

	#top_img {
		margin-top:5px;
		margin-left: 1%;
	}


	.button {
	    position: absolute;
	    width: 10%;
	    height: 70px;
	    background-color: white;
	    margin-left: 45%;
	    margin-right: 45%;
	    border-radius: 5px;
	    font-size: 18px;
	    font-weight: bold;
	}

</style>


	<body>
		<div id="header">
			<img id="top_img" src="/images/logo_website.jpg"></img>
		</div>

		<div>
			<div style="margin-top:50px;font-size:20px;text-align:center;">
				Welcome to Health For All's Aunction Site
			</div>
    		<button class="button" style="top:300px;">Sign up</button>
    		<button class="button" style="top:400px;">Login</button>
		</div>


		<div id="footer">

		</div>
	</body>



</html>