// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.submit_but {
    width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}